.menu-list .menu-panel,
.menu-list .menu-panel-2 {
  box-shadow: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.menu-list .item-menu {
  border-radius: 0 !important;
}

.menu-list .menu-panel .mat-expansion-panel-header-title {
  font-family: 'Inter', sans-serif;
}
.header-sidemenu {
  border-bottom: 1px solid #b2bec3;
}

.menu-list .menu-panel .mat-expansion-panel-header {
  height: 44px;
  font-family: 'Inter', sans-serif !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

::ng-deep
  .menu-list
  .menu-panel
  .mat-expansion-panel-content-wrapper
  .mat-expansion-panel-content
  .mat-expansion-panel-body {
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}
::ng-deep
  .menu-list
  .menu-panel
  .mat-expansion-panel-content-wrapper
  .mat-expansion-panel-content
  .mat-expansion-panel-body
  .mdc-list {
  padding-top: 0 !important;
}

::ng-deep
  .menu-list
  .menu-panel
  .mat-expansion-panel-content-wrapper
  .mat-expansion-panel-content
  .mat-expansion-panel-body
  .mat-expansion-panel {
  box-shadow: none !important;
}
::ng-deep .menu-list .mdc-list-item__primary-text,
::ng-deep .mdc-list-item__primary-text,
.menu-list .menu-panel-2 {
  font-family: 'Inter', sans-serif !important;
}

.item-list {
  padding: 0 !important;
  height: 44px !important;
  border-radius: 0 !important;
}

.item-list .item-menu{
border-radius: 0 !important;
}