::ng-deep .card .btn {
  border-radius: 4px !important;
  color: white;
}
::ng-deep .card .btn-edit {
  background-color: #ffb900 !important;
}
::ng-deep .card .btn-delete {
  background-color: #eb2f06 !important;
}

::ng-deep .card .mat-elevation-z8 .action {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

::ng-deep .card .mat-elevation-z8 .mat-sort-header-container {
  justify-content: center;
}

::ng-deep .card .mat-elevation-z8 .mat-mdc-header-cell {
  text-align: center;
}
::ng-deep .card .btn-view {
  background-color: #222f3e !important;
}



/* .reponsive-table {
  height: 400px;
  width: 550px;
  max-width: 100%;
  overflow: auto;
} */
