@if(isLoading()){
<div class="loading-shade">
  <mat-spinner></mat-spinner>
</div>
}
<mat-drawer-container class="w-full h-full" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'" [opened]="true" class="border-r remove-border side-menu-drawer">
    <app-side-menu [menus]="menus" />
  </mat-drawer>
  <mat-drawer-content>
    <app-toolbar-template (onOpenMenu)="drawer.toggle()" />
    <div class="dashboard-content p-3">
      <app-breadcrumb />
      <div class="content pt-3">
        <router-outlet />
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>