.remove-border {
  border-radius: 0 !important;
}
.side-menu-drawer {
  width: 250px !important;
  border-right: 1px solid #b2bec3;
}
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
