/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.mat-mdc-form-field {
  --mat-form-field-container-height: 2.25rem;
  --mat-form-field-container-vertical-padding: 0.5rem;
  --mat-form-field-outlined-focus-outline-width: 2px;

  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 4px;
    left: -12px;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--focused
    .mat-mdc-form-field-flex
    .mat-mdc-floating-label {
    top: 3px;
  }

  .mat-mdc-notch-piece.mdc-notched-outline__notch {
    border-top: solid;
    clip-path: none;
  }
}
.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

/* mat-dialog global config CSS */
.square-dialog .mat-mdc-dialog-surface {
  border-radius: 0px !important;
}
