<mat-card class="card mt-4 bg-white" appearance="outlined">
    <mat-card-header>
        <mat-card-title class="font-inter text-md">Form Employee</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-employee">
        <form [formGroup]="formEmployee">
            <div class="grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-6">
                <mat-form-field class="w-full text-sm primeng-input" appearance="outline">
                    <mat-label class="font-inter">{{ label.FIELDS.FIRSTNAME.LABEL }}</mat-label>
                    <input matInput class="text-sm" formControlName="firstName"
                        [placeholder]="label.FIELDS.FIRSTNAME.PLACEHOLDER" />
                    @if(formEmployee.get('firstName')?.hasError('required') && submitted){
                    <mat-error class="text-red-600">{{ label.FIELDS.FIRSTNAME.LABEL }}
                        {{label.ERROR_MSG.IS_REQUIRED}}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="w-full text-sm primeng-input" appearance="outline">
                    <mat-label class="font-inter">{{ label.FIELDS.LASTNAME.LABEL }}</mat-label>
                    <input matInput class="text-sm" formControlName="lastName"
                        [placeholder]="label.FIELDS.LASTNAME.PLACEHOLDER" />
                    @if(formEmployee.get('lastName')?.hasError('required') && submitted){
                    <mat-error class="text-red-600">{{ label.FIELDS.LASTNAME.LABEL }}
                        {{label.ERROR_MSG.IS_REQUIRED}}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="w-full text-sm primeng-input" appearance="outline">
                    <mat-label class="font-inter">{{ label.FIELDS.EMAIL.LABEL }}</mat-label>
                    <input matInput class="text-sm" formControlName="email"
                        [placeholder]="label.FIELDS.EMAIL.PLACEHOLDER" />
                    @if(formEmployee.get('email')?.hasError('required') && submitted){
                    <mat-error class="text-red-600">{{ label.FIELDS.EMAIL.LABEL }}
                        {{label.ERROR_MSG.IS_REQUIRED}}</mat-error>
                    } @else if (formEmployee.get('email')?.hasError('email') && submitted) {
                    <mat-error class="text-red-600">{{ label.FIELDS.EMAIL.LABEL }}
                        {{label.ERROR_MSG.IS_NOT_VALID}}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="w-full text-sm primeng-input" appearance="outline">
                    <mat-label class="font-inter">{{ label.FIELDS.BIRTHDATE.LABEL }}</mat-label>
                    <input matInput formControlName="birthDate" [max]="maxDate" [matDatepicker]="picker"
                        [placeholder]="label.FIELDS.BIRTHDATE.PLACEHOLDER" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if(formEmployee.get('birthDate')?.hasError('required') && submitted){
                    <mat-error class="text-red-600">{{ label.FIELDS.BIRTHDATE.LABEL }}
                        {{label.ERROR_MSG.IS_REQUIRED}}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="w-full text-sm primeng-input" appearance="outline">
                    <mat-label class="font-inter">{{ label.FIELDS.BASIC_SALARY.LABEL }}</mat-label>
                    <input matInput class="text-sm" type="number" formControlName="basicSalary"
                        [placeholder]="label.FIELDS.BASIC_SALARY.PLACEHOLDER" />
                    @if(formEmployee.get('basicSalary')?.hasError('required') && submitted){
                    <mat-error class="text-red-600">{{ label.FIELDS.BASIC_SALARY.LABEL }}
                        {{label.ERROR_MSG.IS_REQUIRED}}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="w-full text-sm primeng-input" appearance="outline">
                    <mat-label class="font-inter">{{ label.FIELDS.STATUS.LABEL }}</mat-label>
                    <mat-select formControlName="status" name="status">
                        @for (status of DDLStatus; track status.id) {
                        <mat-option [value]="status.status">{{status.status}}</mat-option>
                        }
                    </mat-select>
                    @if(formEmployee.get('status')?.hasError('required') && submitted){
                    <mat-error class="text-red-600">{{ label.FIELDS.STATUS.LABEL }}
                        {{label.ERROR_MSG.IS_REQUIRED}}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="w-full text-sm primeng-input" appearance="outline">
                    <mat-label class="font-inter">{{ label.FIELDS.GROUP.LABEL }}</mat-label>
                    <mat-select formControlName="group">
                        <mat-option>
                            <ngx-mat-select-search [placeholderLabel]="'Search'" [formControl]="searchGroup"
                                [noEntriesFoundLabel]="label.LABELS.NOENTRIESFOUND">
                            </ngx-mat-select-search>
                        </mat-option>
                        @for (ddl of filteredGroup; track ddl.id) {
                        <mat-option [value]="ddl.group">{{ddl.group}}</mat-option>
                        }
                    </mat-select>
                    @if(formEmployee.get('group')?.hasError('required') && submitted){
                    <mat-error class="text-red-600">{{ label.FIELDS.GROUP.LABEL }}
                        {{label.ERROR_MSG.IS_REQUIRED}}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="w-full text-sm primeng-input" appearance="outline">
                    <mat-label class="font-inter">{{ label.FIELDS.DESCRIPTION.LABEL }}</mat-label>
                    <input matInput formControlName="description" [max]="maxDate" [matDatepicker]="picker2"
                        [placeholder]="label.FIELDS.BIRTHDATE.PLACEHOLDER" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker2" disabled></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>

                    @if(formEmployee.get('description')?.hasError('required') && submitted){
                    <mat-error class="text-red-600">{{ label.FIELDS.DESCRIPTION.LABEL }}
                        {{label.ERROR_MSG.IS_REQUIRED}}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="w-full text-sm primeng-input" appearance="outline">
                    <mat-label class="font-inter">{{ label.FIELDS.USERNAME.LABEL }}</mat-label>
                    <input matInput class="text-sm" formControlName="username" />
                    @if(formEmployee.get('username')?.hasError('required') && submitted){
                    <mat-error class="text-red-600">{{ label.FIELDS.USERNAME.LABEL }}
                        {{label.ERROR_MSG.IS_REQUIRED}}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="w-full text-sm primeng-input" appearance="outline">
                    <mat-label class="font-inter">{{ label.FIELDS.PASSWORD.LABEL }}</mat-label>
                    <input matInput type="password" class="text-sm" formControlName="password" />
                    @if(formEmployee.get('password')?.hasError('required') && submitted){
                    <mat-error class="text-red-600">{{ label.FIELDS.PASSWORD.LABEL }}
                        {{label.ERROR_MSG.IS_REQUIRED}}</mat-error>
                    }
                </mat-form-field>
            </div>
        </form>
        <mat-card-actions class="justify-start gap-4 flex items-center mt-2">
            @if(isEdit){
                <button class="btn btn-edit font-inter" matButton="filled" (click)="onEdit()">Edit</button>
            } @else {
            <button class="btn btn-create font-inter" matButton="filled" (click)="onSave()">Save</button>
            }
            <button class="btn btn-cancel font-inter" matButton="filled" (click)="onCancel()">Cancel</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>